.history#history_toy
	%h2
		History
	- @toy.logs.each_with_index do |log, index|
		%em
			%span (
			= log.event 
			%span )
	%br
	= link_to 'Send History',
		{ controller: :toys, action: :send_history, id: @toy},
		class: "cta-btn", method: :post