#toy-dashboard
  %table.table.table-striped
    %thead
      %tr
        %td ID
        %td Name
        %td State
        %td Owner
    %tbody
      %tr
        %td= @toy.id
        %td= @toy.name
        %td= @toy.aasm_state
        %td= User.select(:name).find_by(id: @toy.user_id)&.name
