.row
  .col.s12.m4.offset-m4
    #toy-dashboard
      %h1.flow-text
        Name:
        = @toy.name
      %table.table.table-striped
        %tbody
          %tr
            %td ID
            %td= @toy.id
          %tr
            %td State
            %td= @toy.aasm_state
          %tr
            %td Owner
            %td= User.select(:name).find_by(id: @toy.user_id)&.name
          %tr
