$lightgreen: #CBF078;
$yellow: #F3DA60;
$grey: #999A9C;
$white: #FFFFFF;
$black: #000000;
$red: #E46161;
$orange: #F1B963;

.dashboard {
  color: $white;
}

.header {
  background-color: $red;
}

.dashboard-side {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.left-side {
  width: 20%;
    a{
      display: block;
      font-size: 22px;
      color: white;
      background-color: $red;
      padding: 2%;
    }
    a:hover{
      color: $black;
    }
}

.right-side{
  margin: 0 auto;
  color: black;
  width: 80%;
}

@media all and (max-width: 600px) {
  /* We tell both sidebars to share a row */
  .left-side { 
    flex: 1 100%;
  }
}

.form-for{
  form {
    width: 20%;
    padding: 25px 25px;
    background-color: $red;
    border-radius: 5%;
    color: rgb(255, 241, 241);
  }
    input {
      width: 100%;
      margin: 8px 0;
      box-sizing: border-box;
      background-color: white;
      color: rgb(56, 53, 53);
    }
    input[type=number]{
      width: 30%;
    }
    input[type="file"] {
      background-color: $red;
  }
}
