.dashboard {
  color: white;
}

.header {
  background-color: rgb(255, 129, 129);
}

.dashboard-side {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.left-side {
  background-color: #eeeeee;
  width: 20%;
    a{
      display: block;
      font-size: 22px;
      color: white;
      background-color: rgb(255, 129, 129);
      padding: 2%;
    }
    a:hover{
      color: white;
    }
}

.right-side{
  margin: 0 auto;
  color: black;
  width: 80%;
}

@media all and (max-width: 600px) {
  /* We tell both sidebars to share a row */
  .left-side { 
    flex: 1 100%;
  }
}
.users{
  
}
