$orange: #ffa600; 
$grey: #f3f3f3; 
$blue: #82d2e5;
$pink: #ff0080;
$green: #90EE90;

$font-primary: 'Roboto', sans-serif; 
$font-secondary: Arial, Helvetica, sans-serif;

$link-primary: $orange;
$link-secondary: $blue;
$link-tertiary: $grey;

$radius-button: 5px;
$radius-tab: 5px;

*{
	margin: 0 auto;
}

body {
	a:hover {
		color: white;
		text-decoration: none;
	}
	text-align:center; 
}

input{
	background-color: rgb(255, 129, 129);
}

.sign-out {
	a {
		float: left;
	}
}
select {
	background-color: $pink;
	width: 150px;
	font-size: 14px;
	color: white;
}

.container {
	clear: both;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
		div{
			flex: 1;
		}
}

.toys {
	margin: 0 auto;
	width: 100%;
	display: inline-block;
}

/* PLACEHOLDER 
============================================= */

%btn {
	padding: 3px;
	color:#fff;
	curser: pointer;
	text-decoration: none;
	border: none;
	font-size: 14pt;
	width: 125px;
	margin: 5px 0;
	text-align: center;
	display: inline-block;
}

/* BUTTON MIXIN 
============================================= */

@mixin  btn-background($btn-background) {
    @extend %btn;
    background-color: $btn-background;
    &:hover {
        background-color: lighten($btn-background,10%);
    }
}

/* BUTTONS
============================================= */

.cta-btn {
	@include btn-background($pink);
}

.main-btn {
	@include btn-background($orange);
}

.info-btn {
	@include btn-background($blue);
}

/* Toys csv table
============================================= */

.app-frame {
  border: 2px solid $orange;
		a {
			color: #FFF0F5;
		}
		img{
			width: 55%;
		}
}

.alert-success {
	color: $green;
}

.alert-error {
	color: $pink;
	opacity: 0.9;
	text-shadow: none;
	font-size: 14px;
}

.block-for-pages {
	background-color: lightblue;
	color:white;
	max-width: 50%;
	border: 1px solid #778899;
	display: inline-block;
	font-size: 20px;
	padding: 3%;
	text-shadow: 1px 1px #000000;
	border-radius: 10%;
		div p a {
			color: #FFB6C1;
		}
}