$orange: #ffa600; 
$grey: #f3f3f3; 
$blue: #82d2e5;
$pink: #ff0080;

$font-primary: 'Roboto', sans-serif; 
$font-secondary: Arial, Helvetica, sans-serif;

$link-primary: $orange;
$link-secondary: $blue;
$link-tertiary: $grey;

$radius-button: 5px;
$radius-tab: 5px;

* { 
  margin: 0 auto;
  padding: 0; 
}

body { 
	font: 75.5%/1.5  sans-serif; 
	color: #000000;     
	text-align:center; 
}

.sign-out {
	a {
		float: left;
	}
}
select {
	background-color: $pink;
	width: 150px;
	font-size: 14px;
	color: white;
}

.container {
	clear: both;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
		div{
			flex: 1;
		}
}

/* PLACEHOLDER 
============================================= */

%btn {
	padding: 3px;
	color:#fff;
	curser: pointer;
	text-decoration: none;
	border: none;
	font-size: 14pt;
	width: 150px;
	margin: 5px 0;
	text-align: center;
	display: inline-block;
}

/* BUTTON MIXIN 
============================================= */

@mixin  btn-background($btn-background) {
    @extend %btn;
    background-color: $btn-background;
    &:hover {
        background-color: lighten($btn-background,10%);
    }
}

/* BUTTONS
============================================= */

.cta-btn {
	@include btn-background($pink);
}

.main-btn {
	@include btn-background($orange);
}

.info-btn {
	@include btn-background($blue);
}

.app-frame {
  border: 2px solid $orange;
  width: 55%;
  margin-top: 5%;
  padding: 15px;
}

.person-block {
	h2{
		text-align: left;
		padding-left: 10%;
		width: 75%;
		font-size: 14px;
	}
}