$lightgreen: #CBF078;
$yellow: #F3DA60;
$grey: #999A9C;
$white: #FFFFFF;
$black: #000000;
$red: #E46161;
$orange: #F1B963;

$font-primary: 'Roboto', sans-serif; 
$font-secondary: Arial, Helvetica, sans-serif;

$link-primary: $orange;
$link-secondary: $red;;
$link-tertiary: $lightgreen;

$radius-button: 5px;
$radius-tab: 5px;

.sign-out {
	a {
		float: left;
	}
}



form {
	input {
		text-align: center;
		background-color: $white !important;
	}
	input[type="radio"]{
		opacity: 1 !important;
		background-color: black !important;
	}
	label {
		font-size: 1rem;
		color: white !important;
	}
}

.toys {
	margin: 0 auto;
	width: 100%;
	display: inline-block;
}

/* PLACEHOLDER 
============================================= */

%btn {
	padding: 3px;
	color:#fff;
	curser: pointer;
	text-decoration: none;
	border: none;
	font-size: 14pt;
	width: 125px;
	margin: 5px 0;
	text-align: center;
	display: inline-block;
}

/* BUTTON MIXIN 
============================================= */

@mixin  btn-background($btn-background) {
    @extend %btn;
    background-color: $btn-background;
    &:hover {
        background-color: lighten($btn-background,10%);
    }
}

/* BUTTONS
============================================= */

.cta-btn {
	@include btn-background($red);
}

.main-btn {
	@include btn-background($yellow);
}

.grey-btn {
	@include btn-background($grey);
}

.info-btn {
	@include btn-background($orange);
}

/* Toys csv table
============================================= */

.app-frame {
		a {
			color: #FFF0F5;
		}
		img{
			width: 55%;
		}
}

.alert-success {
	color: $lightgreen;
}

.alert-error {
	color: $red;
	opacity: 0.9;
	text-shadow: none;
	font-size: 14px;
}

.block-for-pages {
	background-color: $grey;
	color: $white;
		input[type=text]{
			color: $grey;
		}
	max-width: 50%;
	display: inline-block;
	font-size: 20px;
	padding: 3%;
	text-shadow: 1px 1px $black;
	border-radius: 10%;
		div p a {
			color: $red;
		}
}