// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.registration {
	color:white;
	border: 1px solid #778899;
	width: 300px;
	font-size: 20px;
	background-color: lightblue;
	padding: 2%;
	text-shadow: 1px 1px #000000;
	border-radius: 10%;
		a {
			color: #FFF0F5;
			text-shadow: 1px 1px #000000;
			font-size: 16px;
		}
		a:hover {
			color: #FFB6C1;
		}
}