.active_button {
	background-color: rgb(233, 61, 147);
	border: 1px solid #000000;
	&:hover{
		background-color:rgb(233, 61, 147);
	}
}

.false{
	cursor: no-drop;
	background-color: red;
	opacity: 0.3;
	border: 1px solid #000000;
}

.true{
	background-color: rgb(164, 174, 240);
	border: 1px solid #000000;
		&:hover{
			background-color: rgb(164, 174, 240);
		}
}

.false{
	&:active{
		pointer-events: none;
	}
	&:hover {
		background-color: red;
	}
}