$lightgreen: #CBF078;
$yellow: #F8F398;
$orange: #F1B963;
$red: #E46161;

// minions-variable
$grey: #999A9C;
$strongyellow:#F3DA60;
$white: #FFFFFF;
$black: #000000;
$lightblackwhite: #FEFFFF;
.active_button {
	background-color: rgb(233, 61, 147);
	border: 1px solid #000000;
	&:hover{
		background-color:rgb(233, 61, 147);
	}
}

.false{
	cursor: no-drop !important;
	background-color: red !important;
	opacity: 0.3;
	width: 100px !important;
	height: 100px !important;
	line-height: 100px !important;
}

.true{
	background-color: $lightgreen !important;
	width: 100px !important;
	height: 100px !important;
	line-height: 100px !important;
}

.btn-floating{
	width: 80px !important;
	height: 80px !important;
	line-height: 80px !important;
}

.toys-block-show {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;

}

.toys-block-show-child {
	background-color: rgb(92, 191, 236);
	flex-grow: 1;
	order: 1;
}

/* Modal Content */
.modal-content {
	position: relative;
	bottom: 0;
	width: 100%;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s
}

/* The modal buttons  */
.modal-header {
	padding: 2px 16px;
	background-color: rgb(5, 187, 233);
	color: white;
}

.modal-body {padding: 2px 16px;}

/* Add Animation */
@-webkit-keyframes slideIn {
	from {bottom: -300px; opacity: 0} 
	to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
	from {bottom: -300px; opacity: 0}
	to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
	from {opacity: 0} 
	to {opacity: 1}
}

@keyframes fadeIn {
	from {opacity: 0} 
	to {opacity: 1}
}

.history{
	margin-top: 25px;
	padding: 1px 0px 20px;
	span{
		text-align: center;
		border: 1px solid $black;
		color: black;
		background-color: $white;
	}
}